@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

figcaption {
  text-align: center;
}

/* Syntax Highlighting*/

body pre[class="mermaid"] {
  @apply bg-gray-50 flex justify-center;
}

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* Sidenotes (see https://scripter.co/sidenotes-using-only-css/,
   also google "Tufte CSS") */

aside.sidenote {
  font-size: 80%;
  position: relative;
}

.sidenote-number {
  @apply font-extrabold;
}

@media (max-width: 1279px) {
aside.sidenote {
  padding-left: 15%;
} }

@media (min-width: 1280px) {
  aside.sidenote {
    float: right;
    clear: right;
    margin-right: -16rem;
    text-align: left;

    top: -5rem;
    width: 14rem;
    margin-bottom: 0;
  }
  aside.sidenote p {
    margin: 0.5rem;
  }
}